{{#extends 'base'}}

{{#block 'content'}}

<table class="table">
    <thead>
        <tr>
             <th>ID</th>
            <th>Description</th>
            <th>Food</th>
            <th>Date</th>
        </tr>
    </thead>

    {{#each foodSightings}}
    <tr>
        <td>{{this._id}}</td>
        <td>{{this.description}}</td>
        <td>{{this.food}}</td>
        <td>{{this.datetime}}</td>
        <td>
            <a href="/food_sighting/edit/{{this._id}}"  class="btn btn-primary btn-sm">Edit</a>
        </td>

    </tr>
    {{/each}}

</table>

{{/block}}

{{/extends}}