{{#extends 'base'}}

{{#block "content"}}
<div>
  <a href="/create" class="btn btn-success mt-2 mb-2" style="height:40px; width:100px; font-size:15px; margin:auto; margin-left:18px">Add Faults</a>
  </div>
{{#each faults}}

<div class="card" style="width: 30rem;">
  <div class="card-body">
  
    <h5 class="card-title">{{this.title}}</h5>
    <ul>
        <li>ID:{{this._id}}</li>
        <li>Location: {{this.location}}</li>
        <li>Tags: {{this.tags}}</li>
        <li>Block: {{this.block}}</li>
        <li>Name: {{this.name}}</li>
        <li>Email: {{this.email}}</li>
        <li>Resolved: {{this.resolved}}</li>
        <li>Follow Up: {{this.follow_up}}</li>
    </ul>
 <div ="udc_button">
    <a href="/faults/{{this._id}}/comment" class = " btn btn-secondary ">Comments</a>
    <a href="/{{this._id}}/edit" class="btn btn-primary">Edit</a>
    
    <a href="/delete-faults/{{this._id}}" class=" btn btn-danger">Delete</a>
  </div>
  </div>
</div>
{{/each}}

{{/block}}

{{/extends}}



